<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CodeJanitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <CodeJanitor.Properties.Settings>
      <setting name="Cleaning_ExclusionExpression" serializeAs="String">
        <value>\.Designer\.cs$||\.Designer\.vb$||\.resx$||</value>
      </setting>
      <setting name="Cleaning_AutoCleanupOnFileSave" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Reorganizing_RunAtStartOfCleanup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Feature_CleanupActiveCode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Feature_SettingCleanupOnSave" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Feature_CleanupAllCode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Feature_CleanupOpenCode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Feature_CleanupSelectedCode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_AiXmlDocumentationApiKey" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="Cleaning_AiXmlDocumentationApiKeyEncrypted" serializeAs="String">
        <value>enc:AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA9V1YiqL9zU+Ep0kd1wWVFgAAAAACAAAAAAAQZgAAAAEAACAAAACFQ7nm/dRTUre/1Xmd6ooO8fyX7hRuaD/dWVRcSB0gqgAAAAAOgAAAAAIAACAAAADjzG9WOPVbVsTJVvArGrPqkLeU692iiMefiHsGBsspsTAAAAB6hLSPGb2QQcY2bTv5dnho+/sUNKKQ7/+0jA3HFD1o7dpP5L1I+HoS7rpbXctd9+5AAAAAuzjCMgvMae+/aJqZyYJqZEAJY5rPrpW/9zejBNMrQkL1mp180Qv/qHjOC4kvyTf4DVXkGgr1xEWoC4u2bAFC0w==</value>
      </setting>
      <setting name="Cleaning_AiXmlDocumentationEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Ai_CustomEndpointUrl" serializeAs="String">
        <value>http://192.168.1.52:20128/v1</value>
      </setting>
      <setting name="Ai_CustomModel" serializeAs="String">
        <value>auto/best-fast</value>
      </setting>
      <setting name="Ai_CustomApiKeyHeader" serializeAs="String">
        <value>Authorization</value>
      </setting>
      <setting name="Ai_CopilotEndpointUrl" serializeAs="String">
        <value>https://api.githubcopilot.com/chat/completions</value>
      </setting>
      <setting name="Ai_CopilotApiKeyHeader" serializeAs="String">
        <value>Authorization</value>
      </setting>
      <setting name="Ai_Provider" serializeAs="String">
        <value>Custom</value>
      </setting>
      <setting name="Ai_CopilotModel" serializeAs="String">
        <value>gpt-4o-mini</value>
      </setting>
      <setting name="Cleaning_AiXmlDocumentationEndpointUrl" serializeAs="String">
        <value>http://192.168.1.52:20128/v1</value>
      </setting>
      <setting name="Cleaning_AiXmlDocumentationModel" serializeAs="String">
        <value>auto/best-fast</value>
      </setting>
      <setting name="Ai_CustomApiKeyEncrypted" serializeAs="String">
        <value>enc:AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA9V1YiqL9zU+Ep0kd1wWVFgAAAAACAAAAAAAQZgAAAAEAACAAAACFQ7nm/dRTUre/1Xmd6ooO8fyX7hRuaD/dWVRcSB0gqgAAAAAOgAAAAAIAACAAAADjzG9WOPVbVsTJVvArGrPqkLeU692iiMefiHsGBsspsTAAAAB6hLSPGb2QQcY2bTv5dnho+/sUNKKQ7/+0jA3HFD1o7dpP5L1I+HoS7rpbXctd9+5AAAAAuzjCMgvMae+/aJqZyYJqZEAJY5rPrpW/9zejBNMrQkL1mp180Qv/qHjOC4kvyTf4DVXkGgr1xEWoC4u2bAFC0w==</value>
      </setting>
      <setting name="Ai_CopilotApiKeyEncrypted" serializeAs="String">
        <value>enc:AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA9V1YiqL9zU+Ep0kd1wWVFgAAAAACAAAAAAAQZgAAAAEAACAAAAD2sl9kVt12w5aqYWKnsz5H51kxyXET3mPJFTMNVB5nPwAAAAAOgAAAAAIAACAAAADgvjODAi6MSLIoMfIN4tX4nlfNBe9N3tFe/jdtLsQ5FzAAAAC1sY75MGt51mNMgUzQmBLkj4bMm2IVmJfhenk9K3SgAqERubK8ei/U8+bM2uCCmgJAAAAAJ6slidjJvTUe1TNoxYDj2VYPW3LykAL+GAtX6DIxUUr6SNaGh3C6MjF+qqS1VcP7wgLL9YzYZXOYxYHPYHR7zw==</value>
      </setting>
      <setting name="Cleaning_MoveUsingsOutsideNamespace" serializeAs="String">
        <value>True</value>
      </setting>
    </CodeJanitor.Properties.Settings>
  </userSettings>
</configuration>