<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CodeJanitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <CodeJanitor.Properties.Settings>
      <setting name="Cleaning_ExclusionExpression" serializeAs="String">
        <value>\.Designer\.cs$||\.Designer\.vb$||\.resx$||CodeJanitor.IntegrationTests\\.*\\Data\\||CodeJanitor\\CodeJanitor.cs||CodeJanitor\\source.extension.cs</value>
      </setting>
      <setting name="Cleaning_AutoCleanupOnFileSave" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Reorganizing_RunAtStartOfCleanup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Feature_CleanupActiveCode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Feature_SettingCleanupOnSave" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Feature_CleanupAllCode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Feature_CleanupOpenCode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Feature_CleanupSelectedCode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_AiXmlDocumentationApiKey" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="Cleaning_AiXmlDocumentationApiKeyEncrypted" serializeAs="String">
        <value>enc:AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAaVABZIq2h0iqBU1dVHwhZgAAAAACAAAAAAAQZgAAAAEAACAAAAAV718K/BvMZiZzRxNB8QOXb/MosI9LJNhsLqGNyKtO+AAAAAAOgAAAAAIAACAAAABTm7rZiVCN8T6xg4GsTGb4FKfaPP8qCNUBJa6PsftyeDAAAAD0mAjj3eqUpvIaKTjl7xhf4yybJ0g6a6b3J+qTELn3kCWP761W5hThxM+kHMlmsFhAAAAARR3aDRRovoVdx7Vo1ezNllb7LAhZ1PDdviLVO5PXy0XU/9iEKZaBZkQlcsas7neojAXqtjDWA4fjWVSieC023g==</value>
      </setting>
    </CodeJanitor.Properties.Settings>
  </userSettings>
</configuration>