<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CodeJanitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <CodeJanitor.Properties.Settings>
      <setting name="Cleaning_ExclusionExpression" serializeAs="String">
        <value>\.Designer\.cs$||\.Designer\.vb$||\.resx$||CodeJanitor.IntegrationTests\\.*\\Data\\||CodeJanitor\\CodeJanitor.cs||CodeJanitor\\source.extension.cs</value>
      </setting>
      <setting name="Cleaning_AutoCleanupOnFileSave" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Reorganizing_RunAtStartOfCleanup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Feature_CleanupActiveCode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Feature_SettingCleanupOnSave" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Feature_CleanupAllCode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Feature_CleanupOpenCode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Feature_CleanupSelectedCode" serializeAs="String">
        <value>True</value>
      </setting>
    </CodeJanitor.Properties.Settings>
  </userSettings>
</configuration>